<!-- put css and html here -->

<!-- Polymer (http://www.polymer-project.org/) polyfill. Use Modernizr to load polyfills when Modernizr is ready. -->
<script src="bower_components/platform/platform.js"></script>
<link rel="import" href="bower_components/polymer-localstorage/polymer-localstorage.html">
<link rel="import" href="elements/td-model/td-model.html">
<link rel="import" href="elements/td-todos/td-todos.html">

<!-- Default home page -->
<div class="main">
    <h1 id="main-title"><%= __('Welcome') %></h1>
</div>
<header>
  <h1>todos</h1>
</header>
<polymer-localstorage id="storage" name="todos-polymer"></polymer-localstorage>
<td-model id="model" storageId="storage"></td-model>
<td-todos modelId="model"></td-todos>
<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>

<!-- put script here due to scripts loading block rendering -->
<link rel="stylesheet" href="styles/basic-layout.css">
